@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Ubuntu+Condensed&family=Ubuntu+Mono&family=Ubuntu:ital@1&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background: #cf0be9c0;
    display: grid;
    place-items: center;
}

.container{
    background: #ffffff;
    width: 280px;
    height: 300px;
    padding: 25px 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.container form label{
    position: relative;
    left: 25%;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}

.container form .social{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    width: 100%;
    margin: 10px 0;
    
}

.container form .social .fac,
.container form .social .twit{
    width: 48%;
    height: 100%;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    text-align: center;
    line-height: 30px;
}

.container form .social .fac i,
.container form .social .twit i{
    margin-right: 5px;
}

.container form .social .fac{
    background: #0b0488d6;
    transition: all 0.3s ease;
}

.container form .social .fac:hover{
    background: #0b0488;
    cursor: pointer;
}

.container form .social .twit{
    background: #129df3df;
    transition: all 0.3s ease;
}

.container form .social .twit:hover{
    background: #0696f0fe;
    cursor: pointer;
}

.container form .email,.password{
    margin-top: 5px;
    height: 30px;
}


.container form .email input,
.container form .password input{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    padding-left: 35px;
    border: 1px solid;
    margin-top: 3px;
    color: #000000a6;
    outline: none;
}

.container form .email,.password {
    position: relative;
    
}

.container form .email i,
.container form .password i{
    position: absolute;
    left: 20px;
    line-height: 35px;
    font-size: 12px;
    color: #000000a6;
}

.container form .confirm{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 5px 0 10px;
}

.container form .confirm .left{
    font-size: 13px;
}

.container form .confirm .left input{
    position: relative;
    top: 3px;
}

.container form .confirm .right a{
    font-size: 13px;
    text-decoration: none;
    color: #663399;
}

.container form .login{
    background: #a422ad;
    height: 30px;
    width: 100%;
    border-radius: 5px;
    border: none;
    text-align: center;
    margin-bottom: 15px;
}

.container form .login a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
}

.container form .sing{
    display: flex;
    justify-content: center;
    font-size: 13px;
    font-weight: 500;
}

.container form .sing a{
    font-size: 13px;
    text-decoration: none;
    color: #663399;
}
